header {
    padding: 1rem;
    .container {
        display: flex;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        align-items: center;
        justify-content: space-between;
        @include smDesktopUp {
            padding: 10px 50px;
        }
    }
}

#header-logo {
    text-decoration: none;
    color: $black;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    z-index: 100;
    &:hover, &:focus {
        color: adjust-hue($color: $black, $degrees: 0);
    }

}