.page-section {
    
    @include tabletUp{
       
    }
}

.container {
    padding-right: 0.875rem;
    padding-left: 0.875rem;
    width: 100%;
    margin: auto;
    @include tabletUp {
        max-width: 720px;
        padding: 0;
    }
    @include smDesktopUp {
        max-width: 1000px;
    }
    @include desktopUp {
        max-width: 1200px;
    }
    @include lgDesktopUp {
        max-width: 1400px;
    }
}